<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TpShop软件测试项目</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
</style>
</head>
<body background="background.jpg"
style="background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
		<div id="header">
		</div>
		
		<div id="main">
		
            <h1>软件测试项目1：TPshop注册功能</br></br>
                小组：王雅贝，龚璐瑶，余国浩，陈骏杰</br></br>
            <a href="/pages/user/regist.html">进入注册页面</a>
            </h1>
		</div>
</body>
</html>